<h1> These are all the members: </h1>
  <ul>
  <% for member in @members %>
    <li>
    <p> <%= member.name%></p>
    <p>£<%= (member.salary / 12.0).floor(3) %> per month</p>
    <p><%= member.github %> </p>
    </li>
    <hr />
  <% end %>
  </ul>
