<h1>This is the index erb file</h1>
<p>
  <form action="/members" method="GET">
    <button type="submit" value="members">View Members</button>
  </form>
</p>
<p>
  <form action="/projects" method="GET">
    <button type="submit" value="projects">View Projects</button>
  </form>
</p>
