<h1> These are all the projects: </h1>
  <ul>
  <% for project in @projects %>
    <li>
    <p> <%= project.name%></p>
    <p>£<%= project.budget %></p>
    <p><%= project.start_date %></p>
    <p>
      <form action="/projects/<%= project.id %>" method="GET">
        <button type="submit" value="view">View</button>
      </form>
    </p>
    </li>
    <hr />
  <% end %>
  </ul>
