Nothing to see folks
<p><% for project in @projects %>
<p>Project Name: <%= project.name %>
    &emsp;&emsp;Members:<% for member in project.members %>
    £ <%= member.hourly%>,&ensp;
  <% end %></p>
<% end %>
</p>
